<div class="container">
  <h2>Reset Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="code" class="form-label">Verification Code</label>
      <input type="text" class="form-control" id="code" formControlName="code">
      <div *ngIf="resetPasswordForm.get('code')?.invalid && resetPasswordForm.get('code')?.touched" class="text-danger">
        Enter a valid verification code.
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">New Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched" class="text-danger">
        Enter a valid password.
      </div>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
      <div *ngIf="(resetPasswordForm.get('confirmPassword')?.invalid || (resetPasswordForm.get('password')?.value !== resetPasswordForm.get('confirmPassword')?.value)) &&
        resetPasswordForm.get('confirmPassword')?.touched" class="text-danger">
        Passwords do not match.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">Reset Password</button>
  </form>

  <div *ngIf="passwordResetSuccess" class="alert alert-success" role="alert">
    Your password has been successfully reset. <a routerLink="/login">Click here</a> to go to the login page.
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
</div>
