<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header bg-dark text-white">
          <h3>{{tournament.name}}</h3>
          <span class="badge badge-secondary">{{tournament.discipline}}</span>
        </div>
        <div class="card-body text-bg-secondary">
          <p><strong>Organizer:</strong> {{tournament.organizer}}</p>
          <p><strong>Date:</strong> {{tournament.date | date}}</p>
          <p><strong>Location: </strong>{{tournament.location}}</p>
          <app-google-map [address]="tournament.location"></app-google-map>
          <p><strong>Entry Limit:</strong> {{tournament.registrationLimit}}</p>
          <p><strong>Entry Deadline:</strong> {{tournament.registrationDeadline | date}}</p>
          <p><strong>Sponsors:</strong></p>
          <div class="d-flex">
            <div class="p-2" *ngFor="let sponsor of tournament.sponsors">
              <img src="{{sponsor}}" alt="sponsor logo" height="50">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
        <div class="mt-4 d-flex justify-content-center">
          <a [routerLink]="['/tournament-sign-up', tournament._id]" class="btn btn-primary">Register</a>
        </div>
        <div class="mt-4 d-flex justify-content-center">
          <a [routerLink]="['/ladder', tournament._id]" class="btn btn-primary">See ladder</a>
        </div>

        <div *ngIf="!isOrganizer" class="mt-4 mt-auto">
          <a routerLink="/edit-tournament/{{tournament._id}}" *ngIf="isOrganizer" class="btn btn-outline-secondary">Edit tournament</a>
        </div>
    </div>
  </div>
</div>

