<div class="container">
  <h2>Forgot Password</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-danger">
        Enter a valid email.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid">Send email</button>
  </form>
  <div *ngIf="showSuccessMessage" class="alert alert-success" role="alert">
    Email to reset password has been sent.
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
  <app-reset-password *ngIf="emailSent" [email]="forgotPasswordForm.get('email').value"></app-reset-password>
</div>
